In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("BusData/2018-2019 Stop Data PART 1.csv")

In [12]:
df

,Date,Time,Bus,Count,On off,Latitude,Longitude,Route,Stop
0,7/1/2018,0:00:19,2404,5,on,35.309483,-80.744125,Silver,CRI Deck
1,7/1/2018,0:07:27,2404,3,off,35.310318,-80.726677,Silver,Martin Hall
2,7/1/2018,0:09:19,2404,1,off,35.307224,-80.725281,Silver,Lot 5A
3,7/1/2018,0:13:31,2403,1,off,35.308022,-80.732727,Green,Cone Deck W
4,7/1/2018,0:16:05,2403,1,on,35.308022,-80.732727,Green,Cone Deck W
...,...,...,...,...,...,...,...,...,...
474487,12/22/2018,8:23:19,2405,1,off,35.301434,-80.740707,Gold,Harris Alumni Center South
474488,12/22/2018,8:27:41,2405,1,on,35.301445,-80.740700,Gold,Harris Alumni Center South
474489,12/22/2018,9:22:36,2405,1,off,35.266769,-80.809830,Gold,Harris Alumni Center North
474490,12/28/2018,9:31:33,2405,1,on,35.266766,-80.809929,Gold,Harris Alumni Center North
474491,12/28/2018,9:31:37,2405,1,off,35.266766,-80.809937,Gold,Harris Alumni Center North

In [13]:
df.dtypes

Date          object
Time          object
Bus            int64
Count          int64
On off        object
Latitude     float64
Longitude    float64
Route         object
Stop          object
dtype: object

In [14]:
df['Date'] = df['Date'].astype(dtype = 'string')
#command to convert type to string

In [15]:
df.dtypes

Date          string
Time          object
Bus            int64
Count          int64
On off        object
Latitude     float64
Longitude    float64
Route         object
Stop          object
dtype: object

In [16]:
df_work = df.query('Date == "11/1/2018"')

In [17]:
df_work = df_work.query('Bus == 2402')

In [18]:
df_work

,Date,Time,Bus,Count,On off,Latitude,Longitude,Route,Stop
319444,11/1/2018,0:03:05,2402,1,on,35.307926,-80.734703,Silver,Woodward Hall East
319447,11/1/2018,0:04:49,2402,7,on,35.308044,-80.732712,Silver,Student Union E
319451,11/1/2018,0:07:33,2402,4,off,35.310276,-80.726677,Silver,Martin Hall
319456,11/1/2018,0:10:24,2402,1,on,35.306385,-80.726738,Silver,Lot 5A
319457,11/1/2018,0:10:26,2402,11,off,35.306385,-80.726738,Silver,Lot 5A
...,...,...,...,...,...,...,...,...,...
324056,11/1/2018,21:54:47,2402,1,on,35.307198,-80.725258,Silver,Lot 5A
324057,11/1/2018,21:54:51,2402,2,off,35.307198,-80.725258,Silver,Lot 5A
324064,11/1/2018,21:56:43,2402,1,off,35.307579,-80.729332,Silver,Fretwell N
324070,11/1/2018,21:58:13,2402,1,off,35.308147,-80.732666,Silver,Student Union W
324074,11/1/2018,21:58:23,2402,1,on,35.308147,-80.732666,Silver,Student Union W

In [19]:
df.drop_duplicates('Stop')

,Date,Time,Bus,Count,On off,Latitude,Longitude,Route,Stop
0,7/1/2018,0:00:19,2404,5,on,35.309483,-80.744125,Silver,CRI Deck
1,7/1/2018,0:07:27,2404,3,off,35.310318,-80.726677,Silver,Martin Hall
2,7/1/2018,0:09:19,2404,1,off,35.307224,-80.725281,Silver,Lot 5A
3,7/1/2018,0:13:31,2403,1,off,35.308022,-80.732727,Green,Cone Deck W
7,7/1/2018,0:25:46,2404,1,on,35.312351,-80.741753,Silver,Duke Centennial Hall East
10,7/1/2018,0:32:11,2404,1,off,35.308784,-80.725075,Silver,Lot 6
12,7/1/2018,0:55:52,2404,1,on,35.307930,-80.734856,Silver,Student Union W
15,7/1/2018,1:02:24,2404,2,on,35.310993,-80.741417,Silver,Grigg Hall E
18,7/1/2018,1:05:54,2404,1,on,35.308060,-80.732727,Silver,Student Union E
34,7/1/2018,9:02:40,2412,1,on,35.310734,-80.729317,Silver,Student Health N
36,7/1/2018,9:16:26,2412,1,on,35.311672,-80.742470,Silver,PORTAL East
37,7/1/2018,9:20:45,2412,1,off,35.307972,-80.734795,Silver,Woodward Hall East
42,7/1/2018,9:56:48,2412,1,on,35.311058,-80.743080,Silver,Portal W
45,7/1/2018,10:10:12,2407,1,on,35.311966,-80.733376,Green,Wallis Hall W/Light Rail
51,7/1/2018,10:27:23,2412,1,off,35.308079,-80.730385,Silver,Aux Services East
61,7/1/2018,10:44:24,2408,1,off,35.308067,-80.732765,Gold,Union Deck/Belk N
62,7/1/2018,10:46:10,2412,1,off,35.311058,-80.741348,Silver,Grigg Hall W
65,7/1/2018,10:49:18,2408,1,on,35.311985,-80.733391,Gold,Wallis Hall E/Light Rail
73,7/1/2018,10:59:35,2412,1,on,35.306355,-80.726761,Silver,East Deck 2
76,7/1/2018,11:06:56,2412,1,off,35.309307,-80.741287,Silver,Athletics Complex W
77,7/1/2018,11:09:36,2408,1,on,35.308048,-80.732704,Gold,Student Health E
104,7/1/2018,12:07:01,2408,1,on,35.310860,-80.729263,Gold,Robinson Hall S
142,7/1/2018,12:36:33,2412,1,off,35.308113,-80.730217,Silver,Aux Services West
157,7/1/2018,12:50:40,2412,1,on,35.309895,-80.741814,Silver,EPIC N
302,7/1/2018,15:30:59,2408,1,off,35.311970,-80.733414,Gold,Hickory Hall South
356,7/1/2018,16:46:15,2412,1,off,35.307529,-80.729362,Silver,Fretwell N
378,7/1/2018,17:16:45,2411,1,off,35.309010,-80.729309,Silver,Hickory Hall North
459,7/1/2018,18:56:12,2408,1,off,35.308090,-80.732727,Green,Student Health (Green) W
554,7/1/2018,20:34:48,2407,1,on,35.304405,-80.732674,Green,Reese East
736,7/2/2018,6:23:00,2405,1,on,35.311749,-80.733017,Gold,Hunt Hall
744,7/2/2018,6:35:26,2403,2,on,35.303494,-80.729500,Green,Robinson Hall N
752,7/2/2018,6:48:43,2403,1,off,35.303528,-80.729500,Green,Cato Hall N
766,7/2/2018,7:15:14,2403,1,off,35.307014,-80.729454,Green,Fretwell S
821,7/2/2018,8:03:52,2409,43,on,35.304237,-80.734978,Gold,Cone Deck East
1603,7/2/2018,17:01:26,2409,1,off,35.305111,-80.728249,Gold,Cato Hall S
1835,7/2/2018,19:37:34,2411,1,off,35.307381,-80.739670,Silver,Athletics Complex E
2455,7/3/2018,10:56:49,2403,1,off,35.297817,-80.736359,Gold,Foundation Bldg. North
2985,7/3/2018,16:31:45,2408,1,off,35.266609,-80.810364,Campus Tour,Event
3377,7/3/2018,20:49:24,2403,1,on,35.304379,-80.732773,Gold,Reese West
3498,7/3/2018,23:03:23,2409,2,on,35.309429,-80.744057,Gold,Harris Alumni Center South
4962,7/6/2018,0:34:44,2403,1,off,35.267181,-80.810371,Gold,Levine Hall W
5083,7/6/2018,7:54:33,2403,1,on,35.302711,-80.738205,Gold,Harris Alumni Center North
5125,7/6/2018,8:36:06,2403,1,off,35.310173,-80.736130,Green,Belk Hall S
5728,7/6/2018,15:10:07,2403,1,off,35.311913,-80.733124,Green,North Deck
6202,7/7/2018,0:11:55,2402,1,on,35.267117,-80.810356,Green,South Village Deck
14344,7/13/2018,7:07:19,2409,1,on,35.308083,-80.732704,Charter,Charter start
16481,7/15/2018,16:19:27,2410,1,off,35.311882,-80.732346,Charter,Charter end
34768,7/27/2018,12:27:52,2412,1,off,35.302116,-80.732689,Green,Levine Hall E
35672,7/27/2018,21:51:57,2408,1,on,35.311020,-80.741463,Gold,NaN
217646,10/2/2018,11:28:49,2404,1,off,35.312851,-80.741058,Silver,Motor Sports
319928,11/1/2018,8:20:49,2404,1,on,35.297890,-80.736343,Gold,Foundation Bldg. South
321107,11/1/2018,12:08:33,2403,1,off,35.302662,-80.737701,Green,Alumni Way E

In [20]:
df_work.to_csv("BusData/TestingOutput.csv")